@import url('./variables.css');
@import url('./base.css');
@import url('./typography.css');
/* @import url('./layout.css'); */
@import url('./navbar.css');
@import url('./sidebar.css');
@import url('./preloader.css');
@import url('./responsive.css');

@import url('./footer.css');

#main {
   width: 100%;
   margin-top: 83px;
   padding: 20px 0;
   overflow-x: hidden;
}

.container {
   padding: 0 6%;
}

.card {
   width: max-content;
   overflow: hidden;
}

.card_inner {
   display: flex;
}

.card .left img {
   width: 150px;
}