:root {
   --primary: #003459;
   --secondary: #2497DC;
   --light: #000;
   --dark: blue;
}

#shop .products .grid .card:hover,
#shop .products .list .card:hover {
   box-shadow: -2px -2px 3px #000;
}

#navbar {
   box-shadow: none;
}
