@import url('./initial-settings.css');
@import url('./footer.css');

#main {
   width: 100%;
   overflow-x: hidden;
}

.container{
   padding: 30px 6%;
}

.card {
   width: max-content;
   overflow: hidden;
}

.card_inner{
   display: flex;
}

.card .left img {
   width: 200px;
}