#footer {
   position: relative;
   width: 100%;
   padding: 50px 8%;
   overflow: hidden;


   .content {
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
   }

   .mid {
      display: grid;
      gap: 2rem 1rem;
      grid-template-areas: "col1 col2 col3 col4 col5" "col1 col2 col3 col4 col5";
      padding-bottom: 30px;
      border-bottom: 1px solid #fff5;
   }

   .mid .column-1 {
      grid-area: col1;
   }

   .mid .column-2 {
      grid-area: col2;
   }

   .mid .column-3 {
      grid-area: col3;
   }

   .mid .column-4 {
      grid-area: col4;
   }

   .mid .column-5 {
      grid-area: col5;
   }





   .brand_info .logo {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      font-style: italic;
      color: var(--dark);
      font-size: 1.3rem;
      font-weight: bold;
      font-family: 'Rubik Lines', sans-serif;
   }

   .brand_info .logo img {
      width: 30px;
   }

   .brand_info p {
      width: 300px;
      color: var(--dark);
   }



   .social-links {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
   }

   .social-links li {
      margin-right: 20px;
   }

   .social-links li a {
      text-decoration: none;
      position: relative;
   }

   .social-links li a i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      color: var(--primary);
      background: #EAFFF2;
      border-radius: 10px;
   }







   [class*="column-"] h3 {
      color: grey;
      font-weight: bold;
      margin-bottom: 1rem;
   }

   [class*="column-"] ul li {
      margin-bottom: 10px;
   }

   [class*="column-"] ul li a {
      color: #555;
      transition: transform .3s, color .3s;
   }

   [class*="column-"] ul li:hover {
      transform: translateX(5px);
   }

   [class*="column-"] ul li:hover a {
      color: #fff;
   }



   .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .bottom p {
      color: #555;
      font-weight: 500;
   }




   .go_top {
      width: 2rem;
      height: 2rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #EAFFF2;
      border-radius: 50%;
      z-index: 50;
   }

   .go_top i {
      color: var(--primary);
      font-size: 1rem;
      display: block;
   }
}





@media only screen and (max-width: 1200px) {
   #footer .mid {
      display: grid;
      grid-template-areas: "col1 col2 col3 col4" "col5 col5 col5 col5";
   }

   #footer .bottom p {
      text-align: start;
   }
}

@media only screen and (max-width: 900px) {
   #footer .mid {
      display: grid;
      grid-template-areas: "col1 col2 col3" "col4 col5 col5";
   }

   #footer .brand_info p {
      width: 100%;
   }

   #footer .bottom {
      flex-direction: column;
   }

   #footer .bottom p {
      margin-bottom: 10px;
   }
}

@media only screen and (max-width: 500px) {
   #footer .mid {
      display: grid;
      grid-template-areas: "col1 col1" "col2 col3" "col4 col5";
   }
}


@media only screen and (max-width: 400px) {
   #footer .brand_info p {
      width: 100%;
   }

   #footer .mid {
      display: grid;
      grid-template-areas: "col1" "col2" "col3" "col4" "col5";
   }
}
