:root {
   --primary: #003459;
   --secondary: #2497DC;
   --light: #000;
   --dark: #fff;
}

#shop .products .grid .card:hover,
#shop .products .list .card:hover {
   box-shadow: -2px -2px 3px #000;
}


#navbar {
   box-shadow: none;

   .topbar .social-media-links li a {
      color: var(--light);
   }

   .col-l {
      #product-menu-icon span {
         background: var(--grey);
      }

      #menu .list li a {
         color: var(--grey);
      }

      #menu .list li.active a {
         color: var(--dark);
      }
   }

   .col-m {
      .logo {
         color: var(--dark);
      }
   }


   .col-r {
      #currency-selector {
         color: var(--grey);
      }

      hr {
         background: var(--grey);
      }

      .cart-icon {
         color: var(--grey);
      }

      .cart-icon::before {
         background: var(--dark);
         color: var(--grey);
      }
   }
}