@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap') @import url('../bootstrap-icons-1.11.2/font/bootstrap-icons.min.css');

/*// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900
*/
.outfit-<uniquifier> {
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
}

@font-face {
   font-family: Poppins;
   src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
   font-family: Montserrat;
   src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
   font-family: Raleway;
   src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
   font-family: Rubik Lines;
   src: url("../fonts/RubikLines/RubikLines-Regular.ttf");
}

@font-face {
   font-family: Spacex;
   src: url("../fonts/SpaceX.ttf");
}

/* Makes the font size of root element to 10px (62.5% of 16px = 10px) */
:root {
   width: 100%;
   font-size: 16px;
   --primary: #003459;
   --secondary: #007EA7;
   --light: #fff;
   --dark: #000;
   --grey: #ddd;
}

* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   scroll-behavior: smooth;
   line-height: 1.5;
}

body {
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   position: relative;
   padding-top: 55px;
   font-size: 16px;
}

@media only screen and (max-width: 600px) {
   :root {
      font-size: 16px;
   }
}

a,
button,
input,
select {
   color: var(--dark);
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   cursor: pointer;
}

p,
a {
   font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
   color: var(--dark);
}

ul {
   list-style: none;
}

.preloader {
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   background: var(--dark);
   display: grid;
   place-content: center;
   z-index: 1000;
   display: none;
}

.preloader .loader h2 {
   font-size: 1.5rem;
   color: var(--light);
}



#navbar {
   width: 100%;
   height: max-content;
   background: var(--light);
   position: fixed;
   top: 0;
   left: 0;
   transition: background .3s;
   box-shadow: 0 0 5px #ddd;
   z-index: 100;

   .topbar {
      width: 100%;
      height: 30px;
      background: var(--dark);
      color: var(--light);
      padding: 5px 6%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: background .3s;
   }

   .topbar p {
      font-weight: bold;
      font-size: .8rem;
      text-transform: uppercase;
   }

   .topbar .social-media-links {
      display: flex;
      align-items: center;
   }

   .topbar .social-media-links li {
      margin-left: 20px;
   }

   .topbar .social-media-links li a {
      color: var(--light);
   }



   .bottombar {
      padding: 8px 6%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .col-l {
      flex: 1;
      display: flex;
      align-items: center;
   }

   .col-l {

      #product-menu-icon {
         background: none;
         border: none;
         margin-right: 20px;
      }

      #product-menu-icon span {
         width: 20px;
         height: 1.5px;
         display: block;
         background: var(--dark);
      }

      #product-menu-icon span:first-child {
         margin-bottom: 7px;
      }

      #menu {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      #menu .list {
         margin: 0;
         display: flex;
         align-items: center;
         justify-content: center;
      }

      #menu .list li {
         margin-right: 10px;
      }

      #menu .list li a {
         font-size: .8rem;
         font-weight: bold;
         text-transform: uppercase;
      }

      #menu .list li.active a {
         color: #000;
      }

   }

   .col-m {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
         color: var(--dark);
         font-size: 1.3rem;
         font-family: 'Spacex', sans-serif;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
      }

      .logo span {
         font-size: .8rem;
         margin-bottom: -5px;
      }
   }









   .col-r {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;


      #currency-selector {
         border: none;
         outline: none;
         background: transparent;
         border-radius: 5px;
         padding: 2px 5px;
         letter-spacing: 1px;
         font-weight: 600;
      }

      hr {
         width: 1px;
         height: 15px;
         border: none;
         background: var(--grey);
         opacity: .4;
      }

      .cart-icon {
         position: relative;
         margin-left: .4rem;
         font-size: 1.3rem;
      }

      .cart-icon::before {
         content: "0";
         position: absolute;
         bottom: 0px;
         left: -7.5px;
         width: 15px;
         display: grid;
         place-content: center;
         height: 15px;
         background: var(--dark);
         font-size: 10px;
         color: var(--light);
         border-radius: 50px;
      }
   }
}







#navbar #sidebar {
   position: fixed;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100vh;
   transition: .3s;
   color: var(--dark);
   z-index: 1000;
}

#navbar #sidebar.active {
   left: 0;
}

#navbar #sidebar .menu {
   width: 300px;
   height: 100vh;
   background: var(--light);
   overflow: hidden;
}

#navbar #sidebar .titlebar {
   padding: 15px 25px;
   background: var(--light);
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0 0 5px #ddd;
}

#navbar #sidebar .titlebar .logo {
   display: flex;
   align-items: center;
   font-style: italic;
   color: var(--dark);
   font-size: 1.3rem;
   margin-right: 30px;
   font-weight: bold;
   font-family: 'SpaceX', sans-serif;
}

#navbar #sidebar .titlebar #theme-toggler {
   color: var(--dark);
   font-size: 1.3rem;
}






#navbar #sidebar .body {
   width: 100%;
   height: 100%;
   padding-bottom: 57px;
   overflow-y: scroll;

   .products-menu {
      width: 100%;
      padding: 20px;
   }

   .products-menu .title {
      color: var(--dark);
      margin-bottom: 20px;
   }

   .dropbtn {
      width: 100%;
      padding: 10px;
      background: none;
      font-weight: bold;
      font-size: 1rem;
      border: none;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .dropdown #dropdown-content {
      display: none;
      margin-bottom: 5px;
   }

   .dropdown #dropdown-content.active {
      display: block;
   }

   .dropdown #dropdown-content a {
      width: 100%;
      display: block;
      text-decoration: none;
   }

   .dropdown-2 .dropbtn {
      font-weight: normal;
      padding: 10px;
      border-bottom: .5px solid #eee;
   }

   .dropdown-2 #dropdown-content a {
      padding: 10px;
      color: #000;
   }

   #product {
      width: 100%;
      font-weight: bold;
      margin-top: 20px;
      border: none;
      outline: none;
      background: none;
      font-size: 1rem;
   }







   .contact-info {
      padding: 10px 25px;
      overflow: hidden;
   }

   .contact-info .title {
      margin-bottom: 10px;
   }

   .contact-info ul {}


   .features-info {
      padding: 10px 25px;
   }

   .features-info .title {
      margin-bottom: 10px;
   }

   .features-info ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
   }

   .features-info ul li img {
      width: 40px;
   }

   .features-info p {
      word-spacing: 4px;
      font-size: .7rem;
   }
}









@media only screen and (max-width: 700px) {
   #navbar #menu {
      display: block;
      position: fixed;
      width: 60%;
      height: 100vh;
      overflow-y: scroll;
      top: 0;
      right: -100%;
      background: var(--light);
      transition: .3s;
      z-index: 200;
   }

   #navbar #menu.active {
      right: 0;
   }
}