#navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   transition: background .3s;
   z-index: 10;

   .top {
      height: 30px;
      background: var(--dark);
      color: var(--light);
      padding: 5px 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: background .3s;
   }

   .top .text {
      font-weight: bold;
      font-family: 'Pacifico', cursive;
   }

   .top .social-links {
      display: flex;
      align-items: center;
   }

   .top .social-links li {
      margin-left: 20px;
   }

   .top .social-links li a {
      color: var(--light);
   }



   .bottom {
      padding: 13px 1.5rem;
      background: var(--light);
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .col-l {
      flex: 1;
      display: flex;
      align-items: center;

      #product-menu-icon {
         background: none;
         border: none;
         margin-right: 20px;
      }

      #product-menu-icon span {
         width: 20px;
         height: 1.3px;
         display: block;
         background: var(--dark);
      }

      #product-menu-icon span:first-child {
         margin-bottom: 7.5px;
      }



      #menu {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      #menu .list {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      #menu .list li {
         margin-right: 1rem;
      }

      #menu .list li a {
         font-size: .8rem;
         text-transform: uppercase;
      }

      #menu .list li.active a {
         color: var(--dark);
         font-weight: 600;
      }
   }




   .col-m {

      .logo {
         font-size: 1.2rem;
         font-weight: bold;
         font-family: 'Pacifico', cursive;
         color: var(--dark);
      }
   }




   .col-r {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: end;


      #currency-selector {
         border: none;
         outline: none;
         background: transparent;
         border-radius: 5px;
         padding: 2px 5px;
         letter-spacing: 1px;
         font-weight: 600;
         font-family: 'Pacifico', cursive;
      }

      hr {
         width: 1px;
         height: 15px;
         border: none;
         background: var(--grey);
         opacity: .4;
      }

      .cart-icon {
         position: relative;
         margin-left: .4rem;
         font-size: 1.3rem;
      }

      .cart-icon::before {
         content: "0";
         position: absolute;
         bottom: 0px;
         left: -7.5px;
         width: 15px;
         display: grid;
         place-content: center;
         height: 15px;
         background: var(--dark);
         font-size: 10px;
         color: var(--light);
         border-radius: 50px;
      }
   }
}


#navbar.fixed {
   box-shadow: 0 0 5px #ddd;
}