@import url('./initial-settings.css');
@import url('./footer.css');

#main {
   width: 100%;
   height: max-content;
   background: var(--light);
   transition: background .3s;
}

#shop {
   width: 100%;
   max-width: 1000px;
   height: max-content;
   margin: 0 auto;
}

#shop .shop-header {
   width: 100%;
   padding: 50px 6% 0 6%;

   .titlebar {
      align-items: center;
      transition: .3s;
      margin-bottom: 30px;

      .title {
         color: var(--dark);
         letter-spacing: 1px;
         margin-bottom: 10px;
      }

      .page-route {
         color: var(--dark);
         font-weight: bold;
      }

      .page-route a {
         color: var(--grey);
         font-weight: normal;
      }
   }
}



#shop .settings {
   display: flex;
   align-items: center;
   justify-content: space-between;

   #category-name {
      position: relative;
      width: max-content;
      color: var(--dark);
   }

   #category-name::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 50%;
      height: 2px;
      background: var(--dark);
   }



   .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .buttons button {
      padding: 5px 10px;
      margin-left: 10px;
      background: var(--light);
      border: 1px solid var(--grey);
      font-size: 1rem;
      border-radius: 3px;
   }

   .grid-list-buttons {
      display: none;
      align-items: center;
   }

   .grid-list-buttons .list {
      display: none;
   }
}



#filter-window {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   transform: scale(0);
   transition: .3s;
   z-index: 1000;
}

#filter-window.active {
   transform: scale(1);
}

#filter-window .window {
   width: 90%;
   height: 90vh;
   overflow-y: scroll;
   background: var(--light);
   border-radius: 10px;
   background: #F4F7FF;
   border: 1px solid var(--grey);
   padding: 30px;
}






#shop #showcase {
   width: 100%;
   height: max-content;
   padding: 30px 6%;
}

#shop .grid-view {
   display: grid;
   grid-template: auto / repeat(4, 1fr);
   gap: 2rem;
}

#shop .g3 {
   grid-template: auto / repeat(3, 1fr);
   gap: 2rem;
}

#shop .g2 {
   grid-template: auto / repeat(2, 1fr);
   gap: 5rem;
}




/* Shop grid view */

#shop #showcase.grid-view {
   .card {
      color: var(--grey);
      overflow: hidden;
      background: var(--light);
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
   }

   .card .card_top {
      width: 100%;
   }

   .card .img {
      width: 100%;
   }

   .card .details {
      padding: 10px 0;
   }

   .card .details .name {
      margin-bottom: .3rem;
      font-size: .8rem;
      font-weight: 500;
   }

   .card .details .code {
      font-size: .6rem;
      text-transform: uppercase;
      color: var(--grey);
   }

   .card .details .description {
      margin-bottom: .5rem;
      font-size: .6rem;
      color: var(--grey);
   }

   .card .details .price {
      padding-bottom: 10px;
      margin-bottom: .5rem;
      font-size: .8rem;
      border-bottom: 1px solid var(--grey);
   }

   .card .details .ratings i {
      font-size: .8rem;
      color: var(--grey);
   }

   .card .details .ratings i:nth-child(1),
   .card .details .ratings i:nth-child(2),
   .card .details .ratings i:nth-child(3) {
      color: var(--dark);
   }
}


/* shop list view */

#shop #showcase.list {
   display: grid;
   grid-template: auto / repeat(1, 100%);
   grid-gap: 30px;
   align-items: start;

   .card {
      color: var(--grey);
      overflow: hidden;
      background: var(--light);
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
   }

   .card .card_inner {
      display: flex;
   }

   .card .card_top {
      width: max-content;
   }

   .card .img {
      width: auto;
      height: 150px;
   }

   .card .details {
      width: 100%;
      padding-left: 20px;
   }

   .card .details .name {
      margin-bottom: .3rem;
      font-size: .8rem;
      font-weight: 500;
   }

   .card .details .code {
      font-size: .6rem;
      text-transform: uppercase;
      color: var(--grey);
   }

   .card .details .description {
      margin-bottom: .5rem;
      font-size: .6rem;
      color: var(--grey);
   }

   .card .details .price {
      padding-bottom: 10px;
      margin-bottom: .5rem;
      font-size: .8rem;
      border-bottom: 1px solid var(--grey);
   }

   .card .details .ratings i {
      font-size: .8rem;
      color: var(--grey);
   }

   .card .details .ratings i:nth-child(1),
   .card .details .ratings i:nth-child(2),
   .card .details .ratings i:nth-child(3) {
      color: var(--dark);
   }
}






@media only screen and (max-width: 1200px) {
   #shop .g3 {
      gap: 2rem;
   }
}

@media only screen and (max-width: 1000px) and (min-width: 400px) {
   #shop .settings .grid-list-buttons .list {
      display: none;
   }
}

@media only screen and (max-width: 700px) {
   #shop .settings .grid-list-buttons {
      display: flex;
   }

   #shop .settings .grid-list-buttons .g3x3 {
      /* display: none; */
   }

   #shop .settings .grid-list-buttons .list {
      display: block;
   }

   #shop .g2 {
      gap: 1rem;
   }
}

@media only screen and (max-width: 400px) {
   #shop .g3 {
      gap: 1rem;
   }
}