@import url('./initial-settings.css');
@import url('./footer.css');

#main {
   width: 100%;
   background: var(--light);
}

#shop {
   width: 100%;
   max-width: 1000px;
   height: 100vh;
   margin: 0 auto;
}


#shop #product-list {
   position: fixed;
   top: 0;
   left: -100%;
   width: 50%;
   height: 100vh;
   overflow-y: scroll;
   background: var(--light);
   transition: .3s;
}

#shop #product-list.active {
   left: 0;
}




#shop .shop-header {
   width: 100%;
   padding: 30px 8%;

   .titlebar {
      align-items: center;
      transition: .3s;
      margin-bottom: 30px;

      .title {
         color: var(--dark);
         letter-spacing: 1px;
         margin-bottom: 10px;
      }

      .page-route {
         color: var(--dark);
         font-weight: bold;
      }

      .page-route a {
         font-weight: 400;
      }
   }
}



#shop .settings {
   display: flex;
   align-items: center;
   justify-content: space-between;

   #category-name {
      position: relative;
      width: max-content;
      color: var(--dark);
   }

   #category-name::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 50%;
      height: 2px;
      background: var(--dark);
   }

   .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .buttons button {
      padding: 5px 10px;
      margin-left: 5px;
      background: none;
      border: 1px solid #ddd;
      font-size: 1rem;
      border-radius: 3px;
   }

   .grid-list-buttons {
      display: none;
      align-items: center;
   }

   .grid-list-buttons .list {
      display: none;
   }
}









#shop #showcase {
   width: 100%;
   height: max-content;
   padding: 0 8%;
}


/* shop grid view start */

#shop .grid-view,
#shop .g4 {
   display: grid;
   grid-template: auto / repeat(4, 1fr);
   gap: 2rem;
}

#shop .g2 {
   grid-template: auto / repeat(2, 1fr);
   gap: 5rem;
}






#shop #showcase.grid-view {
   .card {
      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s;
      -ms-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      overflow: hidden;
      color: var(--dark);
      border: 1px solid #ddd;
      border-radius: 4px;
      overflow: hidden;
   }

   .card .card_top {
      width: 100%;
   }

   .card .img {
      width: 100%;
   }

   .card .details {
      text-align: center;
      padding: 10px;
   }

   .card .details .name {
      margin-bottom: .3rem;
      font-size: .8rem;
      font-weight: bold;
   }

   .card .details .description {
      margin-bottom: .5rem;
      font-size: .6rem;
   }

   .card .details .price {
      font-weight: bold;
      margin-bottom: .5rem;
      font-size: .8rem;
   }

   .card:hover {
      box-shadow: 2px 2px 3px #eee;
   }

   .card .details .ratings i {
      font-size: .8rem;
   }

   .card .details .ratings i:nth-child(1),
   .card .details .ratings i:nth-child(2),
   .card .details .ratings i:nth-child(3) {
      color: gold;
   }
}




/* shop list view start */

#shop #showcase.list {
   display: grid;
   grid-template: auto / repeat(1, 100%);
   grid-gap: 30px;
   align-items: start;

   .card {
      width: 100%;
      -webkit-transition-duration: .3s;
      -moz-transition-duration: .3s;
      -ms-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      overflow: hidden;
   }

   .card .card_inner {
      display: flex;
   }

   .card .card_top {
      width: max-content;
   }

   .card .img {
      width: auto;
      height: 150px;
   }

   .card .details {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      color: var(--dark);
   }

   .card .details .name {
      margin-bottom: .5rem;
      font-size: .8rem;
   }

   .card .details .price {
      font-weight: bold;
      font-size: .8rem;
   }

   .card:hover {
      box-shadow: 2px 2px 3px #eee;
   }
}









@media only screen and (max-width: 1200px) {
   #shop .g4 {
      gap: 1.5rem;
   }
}


@media only screen and (max-width: 1000px) and (min-width: 400px) {
   #shop .settings .grid-list-buttons .list {
      display: none;
   }
}


@media only screen and (max-width: 700px) {
   #shop .settings .grid-list-buttons {
      display: flex;
   }

   #shop .settings .grid-list-buttons .g4x4 {
      display: none;
   }

   #shop .settings .grid-list-buttons .list {
      display: block;
   }

   #shop .g2 {
      gap: 1rem;
   }
}


@media only screen and (max-width: 400px) {
   #shop .grid-view .card .details {
      padding: .5rem;
   }
}