@import url('./initial-settings.css');
@import url('./footer.css');

#header {
   position: relative;
   width: 100%;
   height: 480px;
   margin-top: 83px;
   background: url("../../1fbfd6dee8f32302645fe5eaea3323af-01.jpg") no-repeat center / cover;
   background: url("../../assets/images/3bd65c478dfdfb1ce7bc33f9f8f2f84c.jpg") no-repeat 30% 30% / cover;
   background: linear-gradient(to top, var(--light), transparent, transparent), linear-gradient(to right, var(--light), var(--light), transparent, transparent), url("../../assets/images/3bd65c478dfdfb1ce7bc33f9f8f2f84c.jpg") no-repeat 0 30% / cover;

   .carousel {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
   }

   .carousel .swiper {
      width: 100%;
      height: 100%;
   }

   .carousel .swiper-wrapper {
      width: 100%;
      height: 100%;
   }

   .carousel .swiper-slide {
      position: relative;
      width: 100%;
      height: 100%;
   }

   .carousel .swiper-slide .info {
      position: absolute;
      top: 50%;
      left: 6%;
      right: 6%;
      transform: translateY(-50%);
      z-index: 50;
      color: var(--dark);
   }

   .carousel .swiper-slide .info h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-transform: capitalize;
      color: var(--dark);
      font-family: "Pacifico", cursive;
   }

   .carousel .swiper-slide .info p {
      max-width: 350px;
      margin-bottom: 1.5rem;
      color: var(--dark);
   }

   .carousel .swiper-slide .info a {
      text-align: center;
      color: var(--light);
      border: none;
      padding: 10px 20px;
      border-radius: 50px;
      background: var(--dark);
   }
}

@media only screen and (max-width: 600px) {
   .carousel .swiper-slide .info {
      text-align: center;
   }

   .carousel .swiper-slide .info p {
      margin: auto;
      margin-bottom: 1.5rem;
      max-width: max-content;
   }
}



#main {
   width: 100%;
   background: var(--light);
   overflow: hidden;
}

#main .seasonal-offers {
   padding: 50px 5%;
   padding-bottom: 0;
}

#main .seasonal-offers .title {
   display: block;
   text-align: center;
   margin-bottom: 30px;
}

#main .seasonal-offers-slider {
   width: 100%;
}

#main .seasonal-offers-slider .swiper-wrapper {
   width: 100%;
}

#main .seasonal-offers-slider .swiper-wrapper .swiper-slide {
   height: 200px;
   border-radius: 5px;
   overflow: hidden;
}

#main .seasonal-offers-slider .swiper-wrapper .swiper-slide img {
   width: 100%;
   height: 100%;
}




#catalog {
   width: 100%;
   padding: 30px 5%;
   margin: 0 auto;
}

#catalog .grid {
   overflow: hidden;
   display: flex;




}

/*
display: grid;
   gap: 10px;
   grid-template-rows: 130px 150px 130px;
   grid-template-areas:
      "item1 item4 item4"
      "item2 item4 item4"
      "item3 item4 item4";
*/

#catalog .grid .item_1 {
   grid-area: item1;
}

#catalog .grid .item_2 {
   grid-area: item2;
}

#catalog .grid .item_3 {
   grid-area: item3;
}

#catalog .grid .item_4 {
   grid-area: item4;
}

#catalog .grid div img {
   width: 100%;
}


@media only screen and (max-width: 600px) {
   #catalog .grid {
      grid-template-areas: "item1 item2" "item3 item4";
      grid-template-areas: "item1" "item2" "item3" "item4";
   }
}

@media only screen and (max-width: 400px) {
   #catalog .grid {
      display: flex;
      flex-direction: column;
   }
}


#main #new-arrivals {
   padding: 50px 5%;
}

#main #new-arrivals .title {
   display: block;
   text-align: center;
   margin-bottom: 30px;
}

#main .seasonal-offers-slider {
   width: 100%;
}

#main .for-you-slider .swiper-wrapper {
   width: 100%;
}

#main .for-you-slider .swiper-wrapper .swiper-slide {
   height: 200px;
   border-radius: 5px;
   overflow: hidden;
}

#main .for-you-slider .swiper-wrapper .swiper-slide img {
   width: 100%;
   height: 100%;
}






#services {
   width: 100%;
   margin: 0 auto;
   height: max-content;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px 5%;
   background: #F9F9F9;
}

#services .grid {
   width: 50%;
   margin-left: 3rem;
   display: grid;
   grid-template: 100px 100px 100px / repeat(2, 1fr);
   grid-template-areas:
      "one two"
      "three three"
      "four four";
   grid-gap: 1rem;
   transition: animation 2s;
   animation: grid_anim 5s linear infinite;
}

@keyframes grid_anim {
   0% {
      grid-template-areas:
         "one two"
         "three four"
         "three four";
   }

   50% {
      grid-template-areas:
         "one one"
         "two three"
         "four four";
   }

   100% {
      grid-template-areas:
         "one two"
         "four three"
         "four three";
   }
}


[class*="grid_item"] {
   border-radius: 1rem;
}

#services .grid_item_1 {
   background: url('../items/women/c63ffae7151539dacdb103402a16bfc0.jpg') no-repeat top / cover;
   grid-area: one;
}

#services .grid_item_2 {
   background: url('../items/t shirts/2018-Fashion-Men-T-shirt-Slim-Fit-Custom-T-shirt-Crease-Design-Long-Stylish-Luxury__33850.1523708593.jpg') no-repeat top / cover;
   grid-area: two;
}

#services .grid_item_3 {
   background: url('../items/jackets/2020-Fashion-New-Arrival-Spring-Cotton-Men-Slim-Fit-Jacket-Coat.jpg') no-repeat top / cover;
   grid-area: three;
}

#services .grid_item_4 {
   background: url('../items/jeans/15886958_1.jpeg') no-repeat top / cover;
   grid-area: four;
}


#services .left {
   flex: 1;
}

#services .left .title {
   position: relative;
   width: max-content;
   color: var(--dark);
   margin-bottom: 30px;
}

#services .left .info {
   color: var(--dark);
   margin-bottom: 2rem;
}

#services .left .overview {
   width: 100%;
   display: block;
   text-align: center;
   color: var(--light);
   border: none;
   padding: 15px;
   border-radius: 4px;
   font-size: 1rem;
   background: var(--dark);
}

@media (max-width: 600px) {
   #services {
      flex-direction: column;
      text-align: center;
   }

   #services .grid {
      width: 100%;
      margin: 0;
   }

   #services .left {
      margin-bottom: 3rem;
   }

   #services .left .title {
      font-size: 1.5rem;
      width: 100%;
   }

   #services .left .overview {
      width: max-width;
      display: inline;
      padding: 15px 30px;
      border-radius: 50px;
   }
}




.newsletter-section {
   width: 100%;
   height: max-content;
   padding: 50px 5%;
   display: flex;
   align-items: center;
   background: url("../../img/0fa3400891f5dc9835bd1141ec256375.jpg") no-repeat center / cover;
   background: url("../../assets/images/3bd65c478dfdfb1ce7bc33f9f8f2f84c.jpg") no-repeat 30% 30% / cover;

   div {
      flex: 1;
   }

   .title {
      color: #C36618;
      text-transform: uppercase;
      font-size: 2.2rem;
      margin-bottom: 10px;
   }

   p {
      font-weight: 500;
      color: #ddd;
   }



   .form {
      width: 100%;
      margin-left: 50px;
      flex: 1;
   }

   .form input {
      display: block;
   }

   .form input[type="email"] {
      width: 100%;
      outline: none;
      border: 1px solid #ddd;
      padding: 15px;
      margin-bottom: 10px;
      color: #C36618;
      background: #F9F9F977;
      border-radius: 50px;
      font-size: 1rem;
   }

   .form input[type="email"]::placeholder {
      color: #C36618;
   }

   .form .submit {
      width: 100%;
      color: var(--light);
      border: none;
      padding: 15px;
      border-radius: 50px;
      font-size: 1.2rem;
      background: var(--dark);
      background: #C36618cc;
   }

   .form .submit:hover {
      background: #C36618;
   }
}

@media only screen and (max-width: 700px) {
   .newsletter-section {
      flex-direction: column;
      align-items: start;
      text-align: center;
   }

   .newsletter-section .title2 {
      margin-bottom: 10px;
   }

   .newsletter-section .subtitle {
      margin-bottom: 20px;
   }

   .newsletter-section .form {
      margin-left: 0;
   }
}