@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap') @import url('../bootstrap-icons-1.11.2/font/bootstrap-icons.min.css');


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');






// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.playfair-<uniquifier> {
   font-family: "Playfair", serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
   font-variation-settings:
      "wdth" 100;
}




/*// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900
*/
.outfit-<uniquifier> {
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
}

.pacifico-regular {
   font-family: "Pacifico", cursive;
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: Poppins;
   src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
   font-family: Montserrat;
   src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
   font-family: Raleway;
   src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
   font-family: Rubik Lines;
   src: url("../fonts/RubikLines/RubikLines-Regular.ttf");
}

@font-face {
   font-family: Spacex;
   src: url("../fonts/SpaceX.ttf");
}

@font-face {
   font-family: PlayFair;
   src: url("../fonts/PlayFair/Playfair-VariableFont_opsz,wdth,wght.ttf");
}


h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
   color: var(--dark);
}

/* 1rem = 16px */

h1 {
   font-size: 2rem;
}

p,
a {
   font-size: 1rem;
}